In [1]:
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV

data=pd.read_csv(r'C:\Users\yatharth bansal\Downloads\adult.csv')

In [2]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
data.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

Removing the ? values

In [4]:
col_names=data.columns
num_data=data.shape[0]
for c in col_names:
    num_non=data[c].isin(["?"]).sum()
    if num_non>0:
        print(c)
        print(num_non)

workclass
2799
occupation
2809
native-country
857

In [5]:
data=data[data['workclass']!='?']
data=data[data['occupation']!='?']
data=data[data['native-country']!='?']

In [6]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [7]:
data.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,45222.000000,4.522200e+04,45222.000000,45222.000000,45222.000000,45222.000000
mean,38.547941,1.897347e+05,10.118460,1101.430344,88.595418,40.938017
std,13.217870,1.056392e+05,2.552881,7506.430084,404.956092,12.007508
min,17.000000,1.349200e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.173882e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783160e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.379260e+05,13.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
numerical=['age','educational-num','capital-gain','capital-loss','hours-per-week']

In [9]:
scaler=StandardScaler()
data[numerical]=scaler.fit_transform(data[numerical])

In [10]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,-1.024983,Private,226802,11th,-1.221559,Never-married,Machine-op-inspct,Own-child,Black,Male,-0.146733,-0.21878,-0.078120,United-States,<=50K
1,-0.041455,Private,89814,HS-grad,-0.438122,Married-civ-spouse,Farming-fishing,Husband,White,Male,-0.146733,-0.21878,0.754701,United-States,<=50K
2,-0.798015,Local-gov,336951,Assoc-acdm,0.737034,Married-civ-spouse,Protective-serv,Husband,White,Male,-0.146733,-0.21878,-0.078120,United-States,>50K
3,0.412481,Private,160323,Some-college,-0.046403,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,0.877467,-0.21878,-0.078120,United-States,>50K
5,-0.344079,Private,198693,10th,-1.613277,Never-married,Other-service,Not-in-family,White,Male,-0.146733,-0.21878,-0.910942,United-States,<=50K

In [11]:
X=data.drop(columns='income')
y=data['income']

Using dummies function to deal with categorical columns

In [12]:
features=pd.get_dummies(X)
target=pd.get_dummies(y)
target=target.drop(columns='>50K')

In [13]:
features.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,-1.024983,226802,-1.221559,-0.146733,-0.21878,-0.078120,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,-0.041455,89814,-0.438122,-0.146733,-0.21878,0.754701,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,-0.798015,336951,0.737034,-0.146733,-0.21878,-0.078120,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.412481,160323,-0.046403,0.877467,-0.21878,-0.078120,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
5,-0.344079,198693,-1.613277,-0.146733,-0.21878,-0.910942,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [14]:
X_train,X_test,y_train,y_test=train_test_split(features,target,test_size=0.3,random_state=42)

In [15]:
model = XGBClassifier(objective='binary:logistic')
model.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [16]:
model.score(X_test,y_test)

0.866072086680917

Using grid search cross validation

In [17]:
param_grid={
   
    ' learning_rate':[1,0.5,0.1],
    'max_depth': [3,5,10],
    'n_estimators':[10,50,100]
    
}

In [18]:
grid= GridSearchCV(XGBClassifier(objective='binary:logistic'),param_grid, verbose=3)

In [19]:
grid.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Fitting 3 folds for each of 27 candidates, totalling 81 fits
[CV]  learning_rate=1, max_depth=3, n_estimators=10 ..................
[CV]   learning_rate=1, max_depth=3, n_estimators=10, score=0.839, total=   0.6s
[CV]  learning_rate=1, max_depth=3, n_estimators=10 ..................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s

[CV]   learning_rate=1, max_depth=3, n_estimators=10, score=0.837, total=   0.6s
[CV]  learning_rate=1, max_depth=3, n_estimators=10 ..................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    1.1s remaining:    0.0s

[CV]   learning_rate=1, max_depth=3, n_estimators=10, score=0.844, total=   0.6s
[CV]  learning_rate=1, max_depth=3, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=3, n_estimators=50, score=0.854, total=   1.8s
[CV]  learning_rate=1, max_depth=3, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=3, n_estimators=50, score=0.851, total=   2.1s
[CV]  learning_rate=1, max_depth=3, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=3, n_estimators=50, score=0.853, total=   1.8s
[CV]  learning_rate=1, max_depth=3, n_estimators=100 .................
[CV]   learning_rate=1, max_depth=3, n_estimators=100, score=0.862, total=   3.4s
[CV]  learning_rate=1, max_depth=3, n_estimators=100 .................
[CV]   learning_rate=1, max_depth=3, n_estimators=100, score=0.857, total=   3.6s
[CV]  learning_rate=1, max_depth=3, n_estimators=100 .................
[CV]   learning_rate=1, max_depth=3, n_estimators=100, score=0.860, total=   3.4s
[CV]  learning_rate=1, max_depth=5, n_estimators=10 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=10, score=0.848, total=   1.1s
[CV]  learning_rate=1, max_depth=5, n_estimators=10 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=10, score=0.847, total=   0.6s
[CV]  learning_rate=1, max_depth=5, n_estimators=10 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=10, score=0.849, total=   0.6s
[CV]  learning_rate=1, max_depth=5, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=50, score=0.862, total=   2.4s
[CV]  learning_rate=1, max_depth=5, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=50, score=0.857, total=   2.4s
[CV]  learning_rate=1, max_depth=5, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=50, score=0.861, total=   2.4s
[CV]  learning_rate=1, max_depth=5, n_estimators=100 .................
[CV]   learning_rate=1, max_depth=5, n_estimators=100, score=0.870, total=   4.5s
[CV]  learning_rate=1, max_depth=5, n_estimators=100 .................
[CV]   learning_rate=1, max_depth=5, n_estimators=100, score=0.865, total=   4.5s
[CV]  learning_rate=1, max_depth=5, n_estimators=100 .................
[CV]   learning_rate=1, max_depth=5, n_estimators=100, score=0.869, total=   4.6s
[CV]  learning_rate=1, max_depth=10, n_estimators=10 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=10, score=0.858, total=   1.1s
[CV]  learning_rate=1, max_depth=10, n_estimators=10 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=10, score=0.853, total=   1.1s
[CV]  learning_rate=1, max_depth=10, n_estimators=10 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=10, score=0.853, total=   1.1s
[CV]  learning_rate=1, max_depth=10, n_estimators=50 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=50, score=0.869, total=   4.8s
[CV]  learning_rate=1, max_depth=10, n_estimators=50 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=50, score=0.862, total=   4.9s
[CV]  learning_rate=1, max_depth=10, n_estimators=50 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=50, score=0.865, total=   4.8s
[CV]  learning_rate=1, max_depth=10, n_estimators=100 ................
[CV]   learning_rate=1, max_depth=10, n_estimators=100, score=0.870, total=   9.1s
[CV]  learning_rate=1, max_depth=10, n_estimators=100 ................
[CV]   learning_rate=1, max_depth=10, n_estimators=100, score=0.863, total=   9.1s
[CV]  learning_rate=1, max_depth=10, n_estimators=100 ................
[CV]   learning_rate=1, max_depth=10, n_estimators=100, score=0.865, total=   9.2s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=10, score=0.839, total=   0.4s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=10, score=0.837, total=   0.4s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=10, score=0.844, total=   0.5s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=50, score=0.854, total=   1.6s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=50, score=0.851, total=   1.6s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=50, score=0.853, total=   1.6s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=100 ...............
[CV]   learning_rate=0.5, max_depth=3, n_estimators=100, score=0.862, total=   3.0s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=100 ...............
[CV]   learning_rate=0.5, max_depth=3, n_estimators=100, score=0.857, total=   3.1s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=100 ...............
[CV]   learning_rate=0.5, max_depth=3, n_estimators=100, score=0.860, total=   3.1s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=10, score=0.848, total=   0.6s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=10, score=0.847, total=   0.6s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=10, score=0.849, total=   0.6s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=50, score=0.862, total=   2.4s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=50, score=0.857, total=   2.4s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=50, score=0.861, total=   2.4s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=100 ...............
[CV]   learning_rate=0.5, max_depth=5, n_estimators=100, score=0.870, total=   4.6s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=100 ...............
[CV]   learning_rate=0.5, max_depth=5, n_estimators=100, score=0.865, total=   4.5s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=100 ...............
[CV]   learning_rate=0.5, max_depth=5, n_estimators=100, score=0.869, total=   4.6s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=10, score=0.858, total=   1.1s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=10, score=0.853, total=   1.1s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=10, score=0.853, total=   1.1s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=50, score=0.869, total=   4.8s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=50, score=0.862, total=   4.8s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=50, score=0.865, total=   4.9s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=100 ..............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=100, score=0.870, total=   9.2s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=100 ..............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=100, score=0.863, total=   9.2s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=100 ..............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=100, score=0.865, total=   9.2s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=10 ................
[CV]   learning_rate=0.1, max_depth=3, n_estimators=10, score=0.839, total=   0.5s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=10 ................
[CV]   learning_rate=0.1, max_depth=3, n_estimators=10, score=0.837, total=   0.4s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=10 ................
[CV]   learning_rate=0.1, max_depth=3, n_estimators=10, score=0.844, total=   0.4s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=3, n_estimators=50, score=0.854, total=   1.6s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=3, n_estimators=50, score=0.851, total=   1.6s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=3, n_estimators=50, score=0.853, total=   1.6s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=100 ...............
[CV]   learning_rate=0.1, max_depth=3, n_estimators=100, score=0.862, total=   3.0s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=100 ...............
[CV]   learning_rate=0.1, max_depth=3, n_estimators=100, score=0.857, total=   3.0s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=100 ...............
[CV]   learning_rate=0.1, max_depth=3, n_estimators=100, score=0.860, total=   3.0s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=10, score=0.848, total=   0.6s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=10, score=0.847, total=   0.6s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=10, score=0.849, total=   0.6s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=50, score=0.862, total=   2.4s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=50, score=0.857, total=   2.3s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=50, score=0.861, total=   2.4s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=100 ...............
[CV]   learning_rate=0.1, max_depth=5, n_estimators=100, score=0.870, total=   4.6s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=100 ...............
[CV]   learning_rate=0.1, max_depth=5, n_estimators=100, score=0.865, total=   4.5s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=100 ...............
[CV]   learning_rate=0.1, max_depth=5, n_estimators=100, score=0.869, total=   4.6s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=10, score=0.858, total=   1.1s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=10, score=0.853, total=   1.1s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=10, score=0.853, total=   1.1s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=50, score=0.869, total=   4.8s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=50, score=0.862, total=   4.8s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=50, score=0.865, total=   4.9s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=100 ..............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=100, score=0.870, total=   9.2s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=100 ..............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=100, score=0.863, total=   9.1s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=100 ..............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=100, score=0.865, total=   9.2s

[Parallel(n_jobs=1)]: Done  81 out of  81 | elapsed:  4.2min finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='warn', n_jobs=None,
             param_grid={' learning_rate': [1, 0.5, 0.1],
                         'max_depth': [3, 5, 10],
                         'n_estimators': [10, 50, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [20]:
# To  find the parameters givingmaximum accuracy
grid.best_params_

{' learning_rate': 1, 'max_depth': 5, 'n_estimators': 100}

In [21]:
# Create new model using the same parameters
new_model=XGBClassifier(learning_rate= 1, max_depth= 5, n_estimators= 100)
new_model.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=1,
              max_delta_step=0, max_depth=5, min_child_weight=1, missing=None,
              n_estimators=100, n_jobs=1, nthread=None,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
              subsample=1, verbosity=1)

In [22]:
new_model.score(X_test,y_test)

0.8572270951573672